@define-color moduleBackground #1e1e2e;
@define-color moduleBackgroundLighter #2a2a3a;
@define-color inactive dimgray;
@define-color foreground lightgrey;
/* @define-color foreground white; */

#waybar.big {
  background: rgba(21, 18, 27, 0);
}

#waybar.big .module#workspaces.main button {
  padding: 5;
}

.big tooltip {
  background-color: @moduleBackground;
}

.big * {
  border: none;
  font-family: "Iosevka Nerd Font", "Symbols Nerd Font",
    "Symbols Nerd Font Mono";
  font-weight: bold;
  font-size: 15px;
  min-height: 0;
  color: @foreground;
}

.big .module {
  background: @moduleBackground;
}

.big window#waybar {
  background: @moduleBackground;
  color: @foreground;
}

.big .module {
  padding: 0px 10px 0px 10px;
}

.big .module#workspaces.main button {
  color: @foreground;
  border-radius: 40px;
}

.big .module#workspaces.main button.empty {
  color: @foreground;
}

.big .module#workspaces.main button.active {
  color: @color8;
}

.big .module#workspaces.main button:hover {
  background: transparent;
  background-color: transparent;
  color: inherit;
  box-shadow: none;
  transition: none;
}

.big .module#custom-mic_used_by_app {
  color: white;
  background-color: red;
}

.big .module#submap {
  background-color: gray;
  color: yellow;
}

.big .module#custom-logo {
  color: @foreground;
}
