@define-color inactive dimgray;

.eink * {
  color: white;
  border: none;
  font-family:
    "Iosevka Nerd Font", "Symbols Nerd Font", "Symbols Nerd Font Mono";
  font-weight: bold;
  font-size: 15px;
  min-height: 0px;
}

.eink .module#workspaces.main button {
  padding: 0;
  margin: 2px;
}

.eink window#waybar {
  color: @foreground;
}

.eink .module#workspaces.main button.empty {
  color: @inactive;
}

.eink .module#workspaces.main button.active {
  color: black;
}

.eink window#waybar {
  background: black;
}

.eink .module#custom-logo {
  color: #ffffff;
}

.eink .module#custom-weather {
  color: #ffffff;
}
