@import url("/home/wh1le/.cache/wal/colors-waybar.css");

@define-color background #1e1e2e;
@define-color active @color1;
@define-color icon @color1;

@import url("/home/wh1le/.config/waybar/styles/modules.css");
@import url("/home/wh1le/.config/waybar/styles/groups.css");

@import url("/home/wh1le/.config/waybar/styles/big.css");
@import url("/home/wh1le/.config/waybar/styles/eink.css");

* {
  font-family: "Iosevka Nerd Font", "Twitter Color Emoji";
  font-weight: 600;
  font-size: 13px;
  min-height: 0;
  border: none;
  background: transparent;
}

window#waybar.default,
window#waybar.big {
  color: @foreground;
  background-color: alpha(#0a080e, 0.8);
}

window {
  padding: 5px;
}

window#waybar {
  padding: 4px 0;
}

window#waybar > box {
  margin: 8px;
  margin-left: 10px;
  margin-right: 10px;
}

tooltip {
  background-color: #1e1e2e;
  opacity: 0.8;
  padding-top: 20px;
  border-radius: 5px;
}
