@import url("/home/wh1le/.cache/wal/colors-waybar.css");
@import url("/home/wh1le/.config/waybar/styles/monitor_specific/big_screen.css");
@import url("/home/wh1le/.config/waybar/styles/monitor_specific/eink.css");
@import url("/home/wh1le/.config/waybar/styles/monitor_specific/thinkpad.css");

@define-color background #1e1e2e;

window#waybar {
  color: @foreground;
  background: rgba(21, 18, 27, 0);
}

tooltip {
  background-color: #1e1e2e;
}

#weather_group,
#power_group,
#system_group,
#status_group {
  background: #1e1e2e;
  opacity: 0.8;
  color: #cdd6f4;
  border-radius: 8px;
  padding: 0 0px;
  padding-right: 2px;
}

.module {
  opacity: 0.8;
  border-radius: 7px;
  padding: 0px 10px 0px 10px;
  background: @background;
}

/* padding right fixes */
.module#custom-logo {
  padding: 0px 18px 0px 10px;
}

.module#network {
  padding-right: 12px;
}

.module#custom-veracrypt,
.module#custom-openvpn {
  padding-right: 12px;
}

/* general settings */

tooltip {
  opacity: 1;
  padding-top: 20px;
  border-radius: 5px;
}

/* .module#workspaces.main { */
/*   padding: 0px 5px 0px 5px; */
/* } */

.modules-left {
  color: @foreground;
}

.modules-center {
  color: @foreground;
}

.modules-right {
  color: @foreground;
}

#workspaces button {
  margin: 0 -1px;
  padding-left: 3px;
  padding-right: 3px;

  color: inherit;
  box-shadow: none;
  transition: none;
  background: transparent;
  background-color: transparent;
}

#workspaces button.active {
  padding-left: 0px;
  color: @color5;
}

.module#custom-mic_used_by_app {
  color: black;
  background-color: @color5;
  padding: 0 8px;
  border: none;
}
.module#submap {
  color: @color5;
  padding: 2px 5px;
  border: 2px solid @color5;
}
