*.DS_Store
home/.config/tmux/plugins/*
home/.config/tmux/plugins/tpm
home/.config/zsh/.zcompdump
home/.config/hypr/hypridle.conf
home/.config/qutebrowser/__pycache__/
home/.config/qutebrowser/user.css
home/.config/qutebrowser/bookmarks/*
*.sqlite
