*.DS_Store
result
*.qcow2
*.sqlite
*.log

# gpg
*.key
*.asc
**/private-keys-v1.d/**
**/openpgp-revocs.d/**
**/*secring*
*.gpg
*.kbx

*.claude
tmp/*

home/.config/git/secrets
home/.config/tmux/plugins/*
!home/.config/tmux/plugins/tpm
home/.config/zsh/.zcompdump
home/.config/Nextcloud/Logs
home/.config/Nextcloud/logs/
home/.config/swaync/style.css
home/.config/hypr/hypridle.conf
home/.config/hypr/modules/host_settings.conf
home/.config/qutebrowser/__pycache__/
home/.config/qutebrowser/user.css
home/.config/qutebrowser/quickmarks
home/.config/qutebrowser/bookmarks/*
home/.config/qutebrowser/modules/__pycache__
home/.config/qutebrowser/qsettings/QtProject.conf

home/.config/alacritty/alacritty.yml
home/.config/gtk-3.0/bookmarks
home/.config/gtk-4.0/bookmarks
home/.config/newsboat/urls

home/.local/share/icons/
home/.local/share/nautilus/tags/
home/.local/share/applications/

home/.config/nvim/lazy-lock.json

# overrides
home/.config/zsh/personal_modules
home/.config/zsh/work_modules
home/.config/i3/personal
home/.config/i3/work
home/.config/yazi/scripts/personal

home/.config/nix/corp-ca.pem
home/.config/yazi/plugins/
**/environment.d/
