@import url("/home/wh1le/.cache/wal/colors-waybar.css");

/* base00: Main Background (The darkest color) */
/* base01: Lighter Background (e.g., for status bars, line highlights) */
/* base02: Selection Background / Subtle UI elements */
/* base03: Comments, Low-contrast Foreground (The "middle grey") */
/* base04: Dark Foreground (e.g., for UI elements that shouldn't pop) */
/* base05: Main Foreground (The primary text color, high contrast with base00) */
/* base06: Light Foreground (e.g., for less important text) */
/* base07: Light Background / High-contrast Foreground (The lightest color) */
/* base08 (Red): Used for errors, deletions in git diff, variable names in some languages. */
/* base09 (Orange): Used for numbers, constants, warnings. */
/* base0A (Yellow): Used for strings, warnings. */
/* base0B (Green): Used for strings, success messages, additions in git diff. */
/* base0C (Cyan): Used for types, class names, special characters. */
/* base0D (Blue): Used for functions, keywords, namespaces. */
/* base0E (Magenta): Used for keywords, operators, built-in constants (like true, false). */
/* base0F (Brown/Maroon): A "catch-all" accent, often for variables or constants. Its usage is the least standardized. */

@define-color moduleBackground #1e1e2e;
@define-color moduleBackgroundLighter #2a2a3a;
@define-color inactive dimgray;

* {
  border: none;
  font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font",
    "Symbols Nerd Font Mono";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: @foreground;
}

tooltip {
  opacity: 1;
  padding-top: 20px;
  background-color: @moduleBackground;
  border-radius: 5px;
}

.module {
  border-radius: 8px;
  opacity: 0.8;
  background: @moduleBackground;
  border-radius: 8px;
  padding: 0px 10px 0px 10px;
}

/* ICONS offset correction */
.module#custom-logo,
/* .module#language, */
.module#custom-lock_screen {
  padding: 0px 18px 0px 10px;
}

.module#custom-logo {
  color: @foreground;
}

.module#submap {
  background-color: gray;
  color: yellow;
  border: 2px solid yellow;
}

.module#workspaces.main {
  opacity: 0.8;
  /* background: transparent; */
  /* margin: 2px 0 2px 5px; */
  /* padding: 0px 5px 0px 5px; */
  border-radius: 16px;
}

.module#workspaces.main button {
  color: @color9;
  border-radius: 40px;
}

.module#workspaces.main button.empty {
  color: @inactive;
}

.module#workspaces.main button.active {
  color: @color5;
}

.module#workspaces.main button:hover {
  background: transparent;
  background-color: transparent;
  color: inherit;
  box-shadow: none;
  transition: none;
  color: white;
}

.module#workspaces.app_tray button.active {
  color: @peach;
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

.module#custom-mic_used_by_app {
  color: white;
  border: 2px solid white;
  background-color: red;
}

.module#clock {
  opacity: 0.8;
  background: #1e1e2e;
  border-radius: 8px;
}
