#!/bin/sh

# starts on every session

# NOTE: 
# Dasung E-ink BW 13.3 inch, 300 PPI, 3200x2400, 37hz
# LG 3840x2160, 37hz

OUT=HDMI-0

# LG 4k configuration
if xrandr --current |grep -q "3840x2160"; then
  xrandr --output "$OUT" --mode 3840x2160 --rate 60 --scale 1x1 --transform 1,0,0,0,1,0,0,0,1 --panning 0x0 || true
else
  xrandr --output "$OUT" --mode 3200x2400 --rate 40 --scale 1x1 --transform 1,0,0,0,1,0,0,0,1 --panning 0x0 || true
fi

export GDK_BACKEND=x11
export GDK_SCALE=2
export GDK_DPI_SCALE=0.75

export XCURSOR_SIZE=48

export QT_QPA_PLATFORM=xcb
export QT_SCALE_FACTOR=1.5
export QT_AUTO_SCREEN_SCALE_FACTOR=0
export QT_ENABLE_HIGHDPI_SCALING=0
