/* thanks to https://github.com/rose-pine/swaync */

@import "/home/wh1le/.cache/wal/colors-swaybg.css";
@import "/home/wh1le/.cache/wal/colors-swaync-borders.css";

* {
  all: unset;
  font-size: 1rem;
  font-family: "Iosevka Nerd Font", monospace;
  font-weight: bold;
  transition: 0.3s;
}

.floating-notifications.background {
  margin-top: 5px;
  margin-right: 12.5px;
  opacity: 0.9;
}

.floating-notifications.background .notification-row {
  padding: 0.3rem;
}

.floating-notifications.background .notification-row .notification-background {
  border-radius: 0.1rem;
  background-color: @color0;
  color: @foreground;
  border: 1px solid @border_active2;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification {
  padding: 0.5rem;
  border-radius: 0.1rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification.critical {
  border: 1px solid #eb6f92;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 0.5rem;
  color: @foreground;
  font-weight: bold;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0.5rem;
  color: @color8;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 0.1rem;
  color: @foreground;
  background-color: @color0;
  border: 1px solid @color8;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: @color8;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: @color4;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.1rem;
  color: @foreground;
  background-color: #eb6f92;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:hover {
  color: @color0;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:active {
  background-color: @color3;
}

.control-center {
  border-radius: 0.1rem;
  margin: 1rem;
  color: @foreground;
  padding: 1rem;
  border: 1px solid @border_active2;
  background: alpha(@background, 0.9);
}

.control-center .widget-title {
  color: @color3;
  font-weight: bold;
}

.control-center .widget-title button {
  border-radius: 0.1rem;
  color: @foreground;
  background-color: @color0;
  border: 1px solid @color8;
  padding: 0.5rem;
}

.control-center .widget-title button:hover {
  background-color: @color8;
}

.control-center .widget-title button:active {
  background-color: @color4;
}

.control-center .notification-row .notification-background {
  border-radius: 0.1rem;
  margin: 0.5rem 0;
  background-color: @color0;
  color: @foreground;
  border: 1px solid @color8;
}

.control-center .notification-row .notification-background .notification {
  padding: 0.5rem;
  border-radius: 0.1rem;
}

.control-center
  .notification-row
  .notification-background
  .notification.critical {
  border: 1px solid #eb6f92;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content {
  color: @foreground;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 0.5rem;
  color: @foreground;
  font-weight: bold;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0.5rem;
  color: @color8;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 0.1rem;
  color: @foreground;
  background-color: @color0;
  border: 1px solid @color8;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: @color8;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: @color4;
}

.control-center .notification-row .notification-background .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.1rem;
  color: @foreground;
  background-color: #eb6f92;
}

.control-center .notification-row .notification-background .close-button:hover {
  color: @color0;
}

.control-center
  .notification-row
  .notification-background
  .close-button:active {
  background-color: @color3;
}

progressbar,
progress,
through {
  border-radius: 0.1rem;
}

.notification.critical progress {
  background-color: #eb6f92;
}

.notification.low progress,
.notification.normal progress {
  background-color: @color5;
}

through {
  background-color: @color0;
}

.control-center through {
  background-color: @color8;
}

.control-center-dnd {
  margin: 1rem 0;
  border-radius: 0.1rem;
}

.control-center-dnd slider {
  background: @color8;
  border-radius: 0.1rem;
}

.widget-dnd {
  color: @color8;
}

.widget-dnd > switch {
  border-radius: 0.1rem;
  background: @color8;
  border: 1px solid @color4;
}

.widget-dnd > switch:checked slider {
  background: @color4;
}

.widget-dnd > switch slider {
  background: @color4;
  border-radius: 0.1rem;
  margin: 0.25rem;
}
